### Задание 1 (Cоздание Датафрейм)

In [1]:
import pandas as pd

In [3]:
authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name' : ['Тургенев', 'Чехов', 'Островский']}, columns=['author_id','author_name'])

In [5]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                    'book_title' : ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[450, 300, 350, 500, 450, 370, 290]}, columns=['author_id','book_title','price'])

### Задание 2 (Создание датафрейм authors_price)

In [7]:
authors_price = pd.merge(authors,book, on = 'author_id')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3 (Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.)

In [8]:
top5 = authors_price.nlargest(5,'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Задание 4 (Создайте датафрейм authors_stat на основе информации из authors_price)

In [35]:
authors_stat = pd.concat([pd.DataFrame(authors_price.groupby('author_name')['price'].max()).rename(columns={'price':'max_price'}),
                          pd.DataFrame(authors_price.groupby('author_name')['price'].min()).rename(columns={'price':'min_price'}),
                          pd.DataFrame(authors_price.groupby('author_name')['price'].mean()).rename(columns={'price':'mean_price'})], axis = 1)
authors_stat

             max_price  min_price  mean_price
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000