In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv, DataFrame
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('input/train.csv')

In [3]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [4]:
data.loc[data['Square']<15,:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,NaN,3,9,B,412511.088764
1316,11526,27,1.0,4.633498,1.969969,1.0,18,1.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,107604.269441
1608,10202,6,1.0,2.596351,4.604943,1.0,3,25.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,137597.601458
3280,10527,27,1.0,4.380726,40.805837,1.0,10,17.0,2013,0.211401,B,B,9,1892,0,NaN,0,1,B,97560.720383
3413,9487,5,1.0,5.129222,5.549458,1.0,1,1.0,1977,0.150818,B,B,16,3433,4,2643.0,4,5,B,369472.403061
4739,12676,81,3.0,13.784865,15.988889,7.0,4,5.0,1960,0.319809,B,B,25,4756,16,2857.0,5,8,B,78388.806186
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798
4900,4504,27,3.0,4.390331,5.610772,1.0,8,19.0,2016,0.211401,B,B,9,1892,0,NaN,0,1,B,161379.067034
6392,14786,1,1.0,1.136859,4.525736,1.0,3,1.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,181434.825589
8030,13265,1,3.0,4.823679,79.767964,0.0,6,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,237716.681261
8283,15744,34,1.0,1.988943,2.642219,1.0,21,4.0,1977,0.069753,B,B,53,13670,4,NaN,1,11,B,458378.777006
9294,6782,45,1.0,2.954309,5.257278,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B,438005.182323
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,483283.488083

In [5]:

data.loc[data['Square']<15,'Square'] = data['Square']*10
data.loc[data['Square']<15,'Square'] = data['Square']*4
data.loc[data['Square']<15,:]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [6]:
data['Price_m']=data['Price']/data['Square']
data.loc[data['Price_m']>11000,:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m
896,6036,95,1.0,46.248238,NaN,0.0,5,0.0,1977,0.000699,...,B,14,3369,24,4129.0,0,3,B,516315.770611,11164.009578
2554,10919,190,2.0,47.489415,35.564479,4.0,5,5.0,1918,0.000000,...,B,30,7538,87,4702.0,5,5,B,537979.657509,11328.412026
5202,2018,94,1.0,33.521641,30.155171,1.0,17,16.0,2015,0.282798,...,B,33,8667,2,NaN,0,6,B,381912.162109,11393.003236
7053,7931,181,1.0,34.911269,18.433155,6.0,10,12.0,1955,0.000000,...,B,8,1423,37,562.0,1,8,B,397528.736061,11386.831424
8283,15744,34,1.0,19.889427,2.642219,1.0,21,4.0,1977,0.069753,...,B,53,13670,4,NaN,1,11,B,458378.777006,23046.353797
9294,6782,45,1.0,29.543086,5.257278,1.0,3,1.0,1977,0.195781,...,B,23,5212,6,NaN,3,2,B,438005.182323,14825.979243
9370,8396,202,2.0,42.353485,30.661180,6.0,4,6.0,1933,0.000000,...,B,30,7538,87,4702.0,5,5,B,502085.860162,11854.652892

### data = pd.get_dummies(data) data.head()

In [7]:
data.loc[data['Rooms']<1,:]
data.loc[data['Rooms']<1,'Rooms'] = 1

In [8]:
data.loc[data['HouseYear']>2019,:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m
585,15051,53,2.0,59.597891,44.869530,10.0,3,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,243114.222804,4079.242071
707,4345,62,1.0,49.275155,1.377284,1.0,5,1.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,135353.885620,2746.899246
790,6845,169,3.0,87.371123,64.905206,12.0,4,24.0,2020,0.178917,...,B,18,3594,4,192.0,1,5,B,295304.011974,3379.881171
918,2530,53,2.0,64.233072,47.405440,13.0,13,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,283334.496716,4411.037640
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,...,B,30,6141,10,262.0,3,6,B,254084.534396,6818.302873
1499,6731,120,2.0,85.087643,77.976325,10.0,7,10.0,2020,0.341072,...,B,27,5664,48,2300.0,3,11,B,536020.260344,6299.625207
2493,3445,53,1.0,35.672788,21.391266,8.0,4,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,170847.416766,4789.292522
2877,8832,1,3.0,83.260743,79.438325,1.0,15,21.0,2020,0.007122,...,B,1,264,0,NaN,0,1,B,242243.090839,2909.451477
3357,9600,62,1.0,55.911215,43.821379,10.0,6,17.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,138770.715048,2481.983516
3485,7026,62,1.0,44.019287,46.759316,1.0,7,12.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,135588.215289,3080.200191
3859,3511,59,1.0,48.327498,48.028007,1.0,3,10.0,2020,0.019509,...,B,37,7687,11,176.0,5,5,B,227402.467599,4705.446773
4053,8433,45,2.0,82.880909,84.512719,1.0,19,22.0,2020,0.195781,...,B,23,5212,6,NaN,3,2,B,441850.464440,5331.148881
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,...,B,25,4756,16,2857.0,5,8,B,243028.603096,5425.734320
4376,6915,53,3.0,77.214218,56.678434,12.0,6,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,338025.692848,4377.764893
4493,14664,53,2.0,60.363889,43.142077,12.0,14,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,266202.142371,4409.956811
5701,8892,62,1.0,49.298503,51.135512,9.0,9,12.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,151779.182589,3078.778731
6735,12191,74,1.0,42.799882,19.819576,13.0,3,1.0,2020,0.075779,...,B,6,1437,3,NaN,0,2,B,162260.682278,3791.147906
7076,14318,53,2.0,57.815313,37.287063,8.0,6,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,251249.365740,4345.723513
7459,2731,53,1.0,38.004250,24.259307,8.0,4,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,167829.123917,4416.062035
8253,13914,23,3.0,74.222388,44.992259,13.0,5,3.0,2020,0.005767,...,B,1,388,0,NaN,0,0,B,106209.372321,1430.961395
9674,9303,53,2.0,57.126663,40.265100,10.0,11,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,263206.223152,4607.414667

In [9]:
data.loc[data['HouseYear'] ==20052011,'HouseYear'] = 2008
data.loc[data['HouseYear'] ==4968,'HouseYear'] = 2008


data.loc[data['HouseYear']>2019,:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m
585,15051,53,2.0,59.597891,44.869530,10.0,3,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,243114.222804,4079.242071
707,4345,62,1.0,49.275155,1.377284,1.0,5,1.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,135353.885620,2746.899246
790,6845,169,3.0,87.371123,64.905206,12.0,4,24.0,2020,0.178917,...,B,18,3594,4,192.0,1,5,B,295304.011974,3379.881171
918,2530,53,2.0,64.233072,47.405440,13.0,13,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,283334.496716,4411.037640
1499,6731,120,2.0,85.087643,77.976325,10.0,7,10.0,2020,0.341072,...,B,27,5664,48,2300.0,3,11,B,536020.260344,6299.625207
2493,3445,53,1.0,35.672788,21.391266,8.0,4,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,170847.416766,4789.292522
2877,8832,1,3.0,83.260743,79.438325,1.0,15,21.0,2020,0.007122,...,B,1,264,0,NaN,0,1,B,242243.090839,2909.451477
3357,9600,62,1.0,55.911215,43.821379,10.0,6,17.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,138770.715048,2481.983516
3485,7026,62,1.0,44.019287,46.759316,1.0,7,12.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,135588.215289,3080.200191
3859,3511,59,1.0,48.327498,48.028007,1.0,3,10.0,2020,0.019509,...,B,37,7687,11,176.0,5,5,B,227402.467599,4705.446773
4053,8433,45,2.0,82.880909,84.512719,1.0,19,22.0,2020,0.195781,...,B,23,5212,6,NaN,3,2,B,441850.464440,5331.148881
4376,6915,53,3.0,77.214218,56.678434,12.0,6,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,338025.692848,4377.764893
4493,14664,53,2.0,60.363889,43.142077,12.0,14,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,266202.142371,4409.956811
5701,8892,62,1.0,49.298503,51.135512,9.0,9,12.0,2020,0.072158,...,B,2,629,1,NaN,0,0,A,151779.182589,3078.778731
6735,12191,74,1.0,42.799882,19.819576,13.0,3,1.0,2020,0.075779,...,B,6,1437,3,NaN,0,2,B,162260.682278,3791.147906
7076,14318,53,2.0,57.815313,37.287063,8.0,6,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,251249.365740,4345.723513
7459,2731,53,1.0,38.004250,24.259307,8.0,4,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,167829.123917,4416.062035
8253,13914,23,3.0,74.222388,44.992259,13.0,5,3.0,2020,0.005767,...,B,1,388,0,NaN,0,0,B,106209.372321,1430.961395
9674,9303,53,2.0,57.126663,40.265100,10.0,11,24.0,2020,0.049637,...,B,34,7759,0,229.0,1,3,B,263206.223152,4607.414667

In [10]:
data.loc[data['Rooms'] ==19,'Rooms'] = 4
data.loc[data['Rooms'] ==10,'Rooms'] = 6
data.loc[data['Id'] ==6358,'Rooms'] = 2
data.loc[data['Id'] ==7594,'Rooms'] = 2
data.loc[data['Id'] ==14003,'Rooms'] = 2
data.loc[data['Id'] ==5927,'Rooms'] = 2
data.loc[data['Rooms']>3,:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m
77,2435,85,4.0,65.559834,47.696255,6.0,6,9.0,1976,0.037178,...,B,52,11217,1,2300.0,1,7,B,266989.016142,4072.448011
120,9703,15,4.0,98.686703,57.307058,15.0,10,17.0,2008,0.158249,...,B,21,5731,0,NaN,1,0,B,373510.057128,3784.806314
286,689,30,4.0,94.164934,60.322255,10.0,8,16.0,2005,0.000078,...,B,22,6398,141,1046.0,3,23,B,517817.162981,5499.044494
385,14888,69,4.0,98.385446,76.081776,9.0,14,22.0,1979,0.000991,...,B,33,6783,3,NaN,1,9,B,547029.902689,5560.069333
426,3442,123,4.0,132.474700,68.131495,15.0,4,15.0,2008,0.000000,...,B,6,2733,0,920.0,0,4,B,573451.655822,4328.763571
500,13857,41,4.0,64.740151,46.627687,5.0,4,9.0,1970,0.175055,...,B,36,10055,3,NaN,1,0,B,270409.143159,4176.838320
505,7755,126,4.0,79.142367,55.242144,7.0,5,7.0,1938,0.333892,...,B,30,6564,1,NaN,0,0,B,273213.577304,3452.178498
623,2129,46,4.0,102.929692,64.606835,10.0,21,22.0,1985,0.188784,...,B,31,6137,4,NaN,0,1,B,344789.615286,3349.758561
682,2913,34,4.0,94.888593,2.637095,1.0,4,1.0,2018,0.069753,...,B,53,13670,4,NaN,1,11,B,346949.506507,3656.387952
938,13642,77,4.0,64.245658,50.150218,5.0,6,9.0,1974,0.000070,...,B,46,10309,1,240.0,1,16,B,275056.530800,4281.324850
1033,8286,172,4.0,101.496365,72.482796,9.0,11,12.0,1935,0.000000,...,B,7,1660,39,1786.0,1,5,B,274992.472366,2709.382466
1038,540,23,4.0,104.313775,NaN,1.0,24,25.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,248411.842332,2381.390582
1113,5217,11,4.0,75.276046,54.955438,6.0,3,5.0,1957,0.225825,...,B,41,6558,7,1548.0,3,2,B,313456.600262,4164.094933
1145,11381,160,4.0,79.415184,55.639280,8.0,5,14.0,1987,0.000000,...,B,39,8647,0,810.0,0,5,B,302203.025177,3805.355742
1223,7648,9,4.0,99.805880,66.219346,8.0,5,14.0,1992,0.136244,...,B,11,2370,0,NaN,0,1,B,315493.701424,3161.073292
1229,8661,13,4.0,109.022544,67.674373,10.0,24,22.0,2002,0.133215,...,B,49,11395,3,1406.0,3,4,A,477797.355641,4382.555564
1230,897,111,4.0,98.305040,63.952274,14.0,3,17.0,2003,0.135650,...,B,46,7960,6,350.0,3,11,B,474500.585591,4826.818498
1235,993,69,4.0,98.979166,64.834498,10.0,2,16.0,1977,0.000991,...,B,33,6783,3,NaN,1,9,B,454518.377499,4592.061103
1237,6001,96,4.0,99.263427,63.582708,9.0,11,22.0,1995,0.041116,...,B,53,14892,4,NaN,1,4,B,377588.163478,3803.900147
1296,501,83,4.0,101.459364,66.856052,9.0,16,22.0,1996,0.007720,...,B,38,4788,2,NaN,0,4,B,593452.196978,5849.161422
1335,10611,29,4.0,126.114546,81.008727,11.0,7,30.0,2012,0.069660,...,B,31,6119,4,NaN,1,2,B,293413.003369,2326.559560
1422,4282,195,5.0,95.617533,62.377052,7.0,7,7.0,1940,0.015017,...,B,17,3079,59,2890.0,0,8,B,479525.147323,5015.033668
1454,8491,1,4.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,...,B,1,264,0,NaN,0,1,B,78364.616704,1865.555669
1503,1243,86,5.0,108.057398,82.723825,8.0,3,5.0,1942,0.161976,...,A,31,7010,5,4508.0,3,7,B,310305.074733,2871.668949
1513,4140,10,4.0,83.833387,64.946548,6.0,1,9.0,1969,0.089040,...,B,33,7976,5,NaN,0,11,B,286261.566899,3414.648694
1603,4772,168,4.0,121.220631,68.714605,14.0,3,2.0,2017,0.341072,...,B,27,5664,48,2300.0,3,11,B,233171.228610,1923.527588
1644,12436,9,4.0,92.622516,59.248532,8.0,5,14.0,1994,0.161532,...,B,25,5648,1,30.0,2,4,B,277786.015610,2999.119721
1649,9268,23,4.0,106.767678,NaN,1.0,6,25.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,223132.085284,2089.884219
1680,6352,109,4.0,100.904263,65.110698,10.0,8,22.0,1985,0.000000,...,B,25,5027,4,46.0,1,1,B,513832.467690,5092.277118
1726,5284,27,4.0,119.914990,78.518874,13.0,8,12.0,2015,0.072158,...,B,2,629,1,NaN,0,0,A,221374.057293,1846.091613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8487,11829,34,4.0,98.047744,1.451846,1.0,16,1.0,1977,0.069753,...,B,53,13670,4,NaN,1,11,B,366655.111294,3739.556829
8501,7275,95,4.0,99.039161,71.575839,11.0,2,3.0,1942,0.000699,...,B,14,3369,24,4129.0,0,3,B,624156.003381,6302.113166
8511,4249,23,5.0,198.930182,123.139863,10.0,1,2.0,2011,0.014073,...,B,2,475,0,NaN,0,0,B,345665.209100,1737.620735
8551,13772,96,4.0,44.128947,18.212628,10.0,10,13.0,2005,0.041116,...,B,53,14892,4,NaN,1,4,B,201374.604049,4563.322256
8573,7444,27,4.0,100.418743,NaN,1.0,14,1.0,1977,0.072158,...,B,2,629,1,NaN,0,0,A,309311.697054,3080.218780
8580,12905,120,4.0,66.831295,44.897427,5.0,9,9.0,1976,0.341072,...,B,27,5664,48,2300.0,3,11,B,384813.936502,5757.990149
8595,12941,188,4.0,86.482556,70.112069,5.0,6,6.0,1935,0.000000,...,B,7,1660,39,1786.0,1,5,B,552454.338658,6388.043567
8604,8259,93,4.0,65.811226,50.252416,6.0,10,9.0,1976,0.521867,...,B,25,6149,0,NaN,0,0,B,105079.223838,1596.676282
8622,12988,17,4.0,65.820574,51.872130,6.0,8,9.0,1968,0.000991,...,B,33,6783,3,NaN,1,9,B,368256.837770,5594.859147
8659,14143,13,5.0,119.008007,69.033727,11.0,13,17.0,2001,0.090799,...,B,74,19083,2,NaN,5,15,B,434774.356335,3653.320211
8685,1268,159,4.0,88.947262,64.483490,7.0,6,6.0,1933,0.246624,...,B,14,2940,45,NaN,3,6,B,429825.896082,4832.367922
8726,238,88,5.0,90.762276,70.991790,5.0,1,9.0,1972,0.127376,...,B,43,8429,3,NaN,3,9,B,289683.939174,3191.677766
8826,3652,113,4.0,105.811302,63.908594,10.0,22,22.0,2005,0.050756,...,B,24,5469,1,145.0,0,1,B,527497.223755,4985.263510
8849,14865,9,6.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,...,B,25,5648,1,30.0,2,4,B,172329.270863,2831.044647
8911,8163,191,4.0,132.871746,71.818319,13.0,19,25.0,2012,0.127376,...,B,43,8429,3,NaN,3,9,B,405412.086233,3051.153442
8925,4214,105,5.0,85.313605,56.686693,5.0,4,12.0,1967,0.040243,...,B,25,3478,11,2729.0,3,1,B,461678.738428,5411.548815
8935,5569,118,4.0,100.243221,67.756645,8.0,4,9.0,1964,0.218440,...,B,21,4472,6,1450.0,4,7,A,482603.543577,4814.325970
8941,11478,34,4.0,96.182941,NaN,1.0,22,1.0,1977,0.069753,...,B,53,13670,4,NaN,1,11,B,356332.296643,3704.734890
9057,14564,34,4.0,97.524848,97.046136,1.0,20,0.0,2016,0.069753,...,B,53,13670,4,NaN,1,11,B,401035.038716,4112.131898
9174,1601,84,4.0,92.614973,68.503454,9.0,2,5.0,1955,0.006076,...,B,30,5285,0,645.0,6,6,B,422341.994774,4560.191319
9179,9762,62,4.0,64.283247,47.156752,6.0,9,9.0,1974,0.002212,...,B,39,7614,3,NaN,1,5,A,313119.233069,4870.930558
9274,12105,13,4.0,88.174556,56.181302,8.0,2,14.0,2002,0.090799,...,B,74,19083,2,NaN,5,15,B,352400.566771,3996.624223
9340,15129,109,4.0,117.750933,72.758793,10.0,5,17.0,2001,0.136330,...,B,30,6141,10,262.0,3,6,B,508664.117721,4319.830888
9350,1104,27,4.0,140.242987,85.634041,10.0,6,12.0,2008,0.051815,...,B,5,1227,0,NaN,0,0,B,342859.739448,2444.754972
9432,338,46,5.0,147.709302,NaN,0.0,6,0.0,1977,0.150818,...,B,16,3433,4,2643.0,4,5,B,352168.955975,2384.202966
9607,2095,55,4.0,94.652198,58.206761,10.0,3,12.0,2000,0.041365,...,B,31,5569,0,NaN,1,4,B,351076.213145,3709.118446
9699,4971,169,5.0,117.855969,76.561318,9.0,12,14.0,2001,0.178917,...,B,18,3594,4,192.0,1,5,B,608674.130507,5164.559204
9852,16641,111,4.0,117.201937,69.898092,14.0,4,2.0,2017,0.093443,...,B,23,4635,5,3300.0,2,4,B,197593.112769,1685.920195
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,...,B,53,14892,4,NaN,1,4,B,528560.506016,2638.389304
9918,14904,34,4.0,104.049130,99.788387,10.0,8,25.0,2018,0.069753,...,B,53,13670,4,NaN,1,11,B,411971.106869,3959.390206

In [11]:

price_mean = data['Price_m'].mean()
price_mean_by_rooms = data.groupby(['Rooms'], as_index=False).agg({'Price_m':'mean'}).rename(columns={'Price_m':'mean_price_r'})
price_mean_by_distr_rooms = data.groupby(['DistrictId', 'Rooms'], as_index=False).agg({'Price_m':'mean'}).rename(columns={'Price_m':'mean_price_ID'})
price_social = data.groupby(['DistrictId','Social_1'], as_index=False).agg({'Price_m':'mean'}).rename(columns={'Price_m':'mean_price_s'})
price_helth = data.groupby(['DistrictId','Helthcare_2'], as_index=False).agg({'Price_m':'mean'}).rename(columns={'Price_m':'mean_price_h'})
price_helth

     DistrictId  Helthcare_2  mean_price_h
0             0            5   4323.293151
1             0            6   2592.774175
2             1            0   3197.713526
3             1            1   2918.909725
4             1            3   3599.826750
5             2            0   4516.720704
6             2            1   4603.345208
7             2            2   4622.286226
8             3            2   3542.832975
9             3            3   4302.776106
10            4            1   4097.508041
11            4            2   6040.239230
12            4            3   7506.399754
13            5            4   4776.516052
14            6            0   2910.447589
15            7            0   4793.075718
16            7            1   4265.087661
17            7            2   4996.994314
18            8            0   4201.177256
19            8            1   3972.380544
20            9            0   3320.041331
21            9            1   4472.369757
22            9            2   3095.586505
23           10            0   4377.498005
24           11            1   4021.343738
25           11            2   4110.192880
26           11            3   3966.268571
27           12            5   4106.495969
28           13            3   4624.793229
29           13            5   4197.494539
..          ...          ...           ...
321         179            5   3211.669133
322         180            4   5769.582099
323         181            1   9827.785991
324         181            5   8700.768533
325         182            0   6534.172445
326         182            3   8203.423614
327         183            4   5666.123766
328         184            3   4938.147791
329         184            4   5971.436623
330         185            3   3300.558299
331         186            3   6030.867635
332         187            1   3609.654979
333         188            1   6538.943915
334         189            3   5249.742247
335         190            5   7919.443196
336         191            3   4293.057173
337         192            3   4176.385546
338         192            5   4163.528583
339         193            5   4103.885163
340         194            0   4536.614195
341         195            0   5723.681752
342         196            5   7149.180513
343         199            2   6082.842941
344         200            2   5247.428054
345         201            1   6991.796052
346         202            5   7447.527733
347         205            2   5101.016598
348         207            2   5550.678339
349         208            1   8005.605047
350         209            3   4176.437542

[351 rows x 3 columns]

In [12]:
def prepare_data(df, price_mean_by_distr_rooms, price_mean_by_rooms, price_mean,price_social,price_helth):
    df = pd.merge(df, price_social, on=['DistrictId', 'Social_1'], how='left')
    df = pd.merge(df, price_mean_by_distr_rooms, on=['DistrictId', 'Rooms'], how='left')
    df = pd.merge(df, price_helth, on=['DistrictId', 'Helthcare_2'], how='left')
    df = pd.merge(df, price_mean_by_rooms, on='Rooms', how='left')
  
  
    df['mean_price_ID'] = df['mean_price_ID'].fillna(df['mean_price_r'])
    df['mean_price_ID'] = df['mean_price_ID'].fillna(price_mean)
    df['mean_price_r'] = df['mean_price_r'].fillna(price_mean)
    df['mean_price_s'] = df['mean_price_s'].fillna(df['mean_price_r'])
    df['mean_price_h'] = df['mean_price_h'].fillna(df['mean_price_r'])
    return df

data = prepare_data(data, price_mean_by_distr_rooms, price_mean_by_rooms, price_mean,price_social,price_helth)

In [13]:
data.head(20)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m,mean_price_s,mean_price_ID,mean_price_h,mean_price_r
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,...,NaN,0,11,B,184966.930730,3854.958571,4384.628620,4320.150470,4384.628620,3888.219638
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,...,240.0,1,16,B,300009.450063,4567.491245,3940.240048,4143.130929,4293.480295,3814.226727
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,...,229.0,1,3,B,220925.908524,4915.149522,4831.170644,4746.690666,4831.170644,3888.219638
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,...,1084.0,0,5,B,175616.227217,3291.591637,2541.010314,2962.604453,2930.013651,3888.219638
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,...,2078.0,2,4,B,150226.531644,3788.892642,4046.644143,4209.038197,4046.644143,3945.718331
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,0.309479,...,990.0,0,6,B,215898.447742,2685.822560,3492.996488,4366.184006,3492.996488,3814.226727
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,0.460556,...,NaN,1,5,B,296021.204377,4755.046491,5457.091839,5222.922927,5457.091839,3888.219638
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,...,NaN,0,2,B,221244.156664,2754.776456,3255.888166,3289.878362,3235.832007,3888.219638
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,...,NaN,0,1,B,229102.795999,3551.351598,3206.778406,3164.233278,3197.713526,3888.219638
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,0.075779,...,NaN,0,2,B,95380.220993,2052.891285,2567.498494,2402.349616,2284.108677,3945.718331
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,0.118537,...,1183.0,1,0,B,204243.553129,4410.840392,4396.370989,4324.503537,4310.377343,3888.219638
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000,...,NaN,0,4,B,165534.541425,2405.715537,4893.004874,4986.761502,4893.004874,3814.226727
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,0.090799,...,NaN,5,15,B,229220.372609,4204.119231,4197.494539,4115.967311,4197.494539,3888.219638
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,0.133215,...,1406.0,3,4,A,252481.908323,3707.367885,4155.346928,3974.715598,4155.346928,3814.226727
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,0.072158,...,NaN,0,0,A,140647.565937,2615.769530,2888.130670,2883.928952,2713.354368,3945.718331
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,0.037178,...,2300.0,1,7,B,89084.327876,1210.183882,4303.436560,3783.296380,4303.436560,3814.226727
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,0.051815,...,NaN,0,0,B,117000.381287,2370.316973,2399.289438,2643.210416,2713.354368,3888.219638
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,0.069753,...,NaN,1,11,B,231828.437667,3999.113002,4507.248646,4477.516296,4507.248646,3888.219638
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,0.133215,...,1406.0,3,4,A,183743.230464,4127.810881,4155.346928,4174.533714,4155.346928,3945.718331
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,0.000991,...,NaN,1,9,B,394895.325987,3558.904699,4852.727137,4364.160105,4852.727137,3814.226727

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 25 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
Price_m          10000 non-null float64
mean_price_s     10000 non-null float64
mean_price_ID    10000 non-null float64
mean_price_h     10000 non-null float64
mean_price_r     10000 non-null float64
dtypes: float64(13), int64(9), object(3)
memory usage: 2.0+ MB

In [15]:
data.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m,mean_price_s,mean_price_ID,mean_price_h,mean_price_r
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,...,NaN,0,11,B,184966.930730,3854.958571,4384.628620,4320.150470,4384.628620,3888.219638
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,...,240.0,1,16,B,300009.450063,4567.491245,3940.240048,4143.130929,4293.480295,3814.226727
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,...,229.0,1,3,B,220925.908524,4915.149522,4831.170644,4746.690666,4831.170644,3888.219638
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,...,1084.0,0,5,B,175616.227217,3291.591637,2541.010314,2962.604453,2930.013651,3888.219638
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,...,2078.0,2,4,B,150226.531644,3788.892642,4046.644143,4209.038197,4046.644143,3945.718331
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,0.309479,...,990.0,0,6,B,215898.447742,2685.822560,3492.996488,4366.184006,3492.996488,3814.226727
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,0.460556,...,NaN,1,5,B,296021.204377,4755.046491,5457.091839,5222.922927,5457.091839,3888.219638
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,...,NaN,0,2,B,221244.156664,2754.776456,3255.888166,3289.878362,3235.832007,3888.219638
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,...,NaN,0,1,B,229102.795999,3551.351598,3206.778406,3164.233278,3197.713526,3888.219638
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,0.075779,...,NaN,0,2,B,95380.220993,2052.891285,2567.498494,2402.349616,2284.108677,3945.718331

### train_test_split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
train, valid = train_test_split(data, test_size=0.3, random_state=42)

In [18]:
train.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price,Price_m,mean_price_s,mean_price_ID,mean_price_h,mean_price_r
Id,1.000000,0.021147,0.009340,0.003536,0.024718,0.026061,-0.004399,-0.004495,0.003248,0.018483,...,-0.010890,-0.012381,0.000152,-0.010298,0.019332,0.010212,0.009200,0.010957,0.007791,-0.007262
DistrictId,0.021147,1.000000,0.068480,-0.030655,-0.018009,0.035730,-0.131446,-0.155057,-0.206562,0.060568,...,0.135942,0.294677,0.304945,0.173713,0.264105,0.390064,0.490867,0.492788,0.498293,-0.037107
Rooms,0.009340,0.068480,1.000000,0.705375,0.122064,-0.000374,-0.005295,-0.040601,-0.050162,-0.028406,...,0.009716,0.048432,0.070259,0.059992,0.573931,-0.034584,0.121480,-0.040689,0.124531,-0.851696
Square,0.003536,-0.030655,0.705375,1.000000,0.159962,0.005473,0.118171,0.075450,0.176966,-0.061518,...,0.013947,-0.047121,-0.018509,0.010668,0.536582,-0.202918,-0.066395,-0.182915,-0.060711,-0.592918
LifeSquare,0.024718,-0.018009,0.122064,0.159962,1.000000,-0.001293,0.020554,0.024669,0.053914,-0.022363,...,0.002145,-0.027982,-0.022450,-0.012945,0.072096,-0.052591,-0.036664,-0.056841,-0.038467,-0.105141
KitchenSquare,0.026061,0.035730,-0.000374,0.005473,-0.001293,1.000000,-0.013096,-0.007778,0.038360,-0.007151,...,-0.014375,0.003967,0.042662,0.008154,0.020301,0.016318,0.029934,0.030002,0.029888,0.003146
Floor,-0.004399,-0.131446,-0.005295,0.118171,0.020554,-0.013096,1.000000,0.415431,0.272107,-0.013811,...,0.002753,-0.132712,-0.067020,0.021787,0.126098,0.007433,-0.057390,-0.078245,-0.073182,-0.010356
HouseFloor,-0.004495,-0.155057,-0.040601,0.075450,0.024669,-0.007778,0.415431,1.000000,0.385859,-0.002226,...,0.002739,-0.147908,-0.065628,0.032152,0.089321,-0.005209,-0.055553,-0.067909,-0.070738,0.035044
HouseYear,0.003248,-0.206562,-0.050162,0.176966,0.053914,0.038360,0.272107,0.385859,1.000000,-0.071548,...,-0.060133,-0.211170,-0.111337,-0.016030,0.035178,-0.163612,-0.224019,-0.217479,-0.222686,0.046993
Ecology_1,0.018483,0.060568,-0.028406,-0.061518,-0.022363,-0.007151,-0.013811,-0.002226,-0.071548,1.000000,...,-0.123776,-0.040991,0.027164,-0.081096,-0.064129,-0.013724,-0.011437,0.007590,-0.001259,0.028811
Social_1,-0.002061,0.242861,0.080421,-0.073372,-0.043677,0.034590,-0.049589,-0.015503,-0.049464,0.018247,...,0.021901,0.085466,0.523949,0.524267,0.265278,0.415593,0.525714,0.482508,0.530415,-0.053821
Social_2,-0.003543,0.162288,0.075311,-0.046986,-0.036241,0.029306,-0.021599,0.010951,0.008447,0.003263,...,0.072270,0.056282,0.474531,0.557988,0.240089,0.354247,0.449753,0.405008,0.453125,-0.050721
Social_3,-0.010890,0.135942,0.009716,0.013947,0.002145,-0.014375,0.002753,0.002739,-0.060133,-0.123776,...,1.000000,0.127582,0.287375,0.663119,0.076234,0.094665,0.111221,0.100361,0.109184,0.000379
Healthcare_1,-0.012381,0.294677,0.048432,-0.047121,-0.027982,0.003967,-0.132712,-0.147908,-0.211170,-0.040991,...,0.127582,1.000000,0.199045,0.056884,0.131895,0.237141,0.314868,0.290871,0.320293,-0.036838
Helthcare_2,0.000152,0.304945,0.070259,-0.018509,-0.022450,0.042662,-0.067020,-0.065628,-0.111337,0.027164,...,0.287375,0.199045,1.000000,0.474736,0.253601,0.351735,0.449246,0.416858,0.453996,-0.051000
Shops_1,-0.010298,0.173713,0.059992,0.010668,-0.012945,0.008154,0.021787,0.032152,-0.016030,-0.081096,...,0.663119,0.056884,0.474736,1.000000,0.183545,0.226037,0.286072,0.256551,0.287175,-0.038218
Price,0.019332,0.264105,0.573931,0.536582,0.072096,0.020301,0.126098,0.089321,0.035178,-0.064129,...,0.076234,0.131895,0.253601,0.183545,1.000000,0.628099,0.565519,0.467327,0.558244,-0.472540
Price_m,0.010212,0.390064,-0.034584,-0.202918,-0.052591,0.016318,0.007433,-0.005209,-0.163612,-0.013724,...,0.094665,0.237141,0.351735,0.226037,0.628099,1.000000,0.790599,0.791546,0.779919,0.040230
mean_price_s,0.009200,0.490867,0.121480,-0.066395,-0.036664,0.029934,-0.057390,-0.055553,-0.224019,-0.011437,...,0.111221,0.314868,0.449246,0.286072,0.565519,0.790599,1.000000,0.915331,0.984797,-0.088307
mean_price_ID,0.010957,0.492788,-0.040689,-0.182915,-0.056841,0.030002,-0.078245,-0.067909,-0.217479,0.007590,...,0.100361,0.290871,0.416858,0.256551,0.467327,0.791546,0.915331,1.000000,0.926819,0.049075
mean_price_h,0.007791,0.498293,0.124531,-0.060711,-0.038467,0.029888,-0.073182,-0.070738,-0.222686,-0.001259,...,0.109184,0.320293,0.453996,0.287175,0.558244,0.779919,0.984797,0.926819,1.000000,-0.090634
mean_price_r,-0.007262,-0.037107,-0.851696,-0.592918,-0.105141,0.003146,-0.010356,0.035044,0.046993,0.028811,...,0.000379,-0.036838,-0.051000,-0.038218,-0.472540,0.040230,-0.088307,0.049075,-0.090634,1.000000

### Feature engineering

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 9069 to 7270
Data columns (total 25 columns):
Id               7000 non-null int64
DistrictId       7000 non-null int64
Rooms            7000 non-null float64
Square           7000 non-null float64
LifeSquare       5514 non-null float64
KitchenSquare    7000 non-null float64
Floor            7000 non-null int64
HouseFloor       7000 non-null float64
HouseYear        7000 non-null int64
Ecology_1        7000 non-null float64
Ecology_2        7000 non-null object
Ecology_3        7000 non-null object
Social_1         7000 non-null int64
Social_2         7000 non-null int64
Social_3         7000 non-null int64
Healthcare_1     3642 non-null float64
Helthcare_2      7000 non-null int64
Shops_1          7000 non-null int64
Shops_2          7000 non-null object
Price            7000 non-null float64
Price_m          7000 non-null float64
mean_price_s     7000 non-null float64
mean_price_ID    7000 non-null float64
mean_price_h     7000 non-null float64
mean_price_r     7000 non-null float64
dtypes: float64(13), int64(9), object(3)
memory usage: 1.4+ MB

In [20]:
train.head(20)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m,mean_price_s,mean_price_ID,mean_price_h,mean_price_r
9069,14604,23,1.0,41.681380,22.796166,8.0,14,17.0,2015,0.075779,...,NaN,0,2,B,88504.384965,2123.355436,2567.498494,2402.349616,2284.108677,3945.718331
2603,5621,23,3.0,163.495333,161.504222,12.0,5,3.0,1977,0.014073,...,NaN,0,0,B,207007.956663,1266.139848,2012.384347,2122.318886,2284.108677,3814.226727
7738,235,87,1.0,39.710131,19.538663,8.0,4,17.0,1986,0.100456,...,NaN,1,6,A,182126.280899,4586.393365,4303.267403,4505.721600,4303.267403,3945.718331
1579,16258,48,3.0,96.056784,98.152802,1.0,15,1.0,2017,0.041125,...,NaN,1,10,B,524365.550705,5458.912203,5047.186606,4748.955053,5047.186606,3814.226727
5058,10773,77,3.0,79.195825,44.421062,10.0,16,17.0,1984,0.298205,...,NaN,1,3,B,322048.433990,4066.482466,4066.482466,3965.310612,4287.920204,3814.226727
5753,3766,62,3.0,127.417560,NaN,0.0,9,0.0,1977,0.072158,...,NaN,0,0,A,282877.332154,2220.081223,2589.613131,2597.356926,2593.072537,3814.226727
3548,11463,129,3.0,72.953912,39.478723,9.0,16,15.0,1991,0.460556,...,NaN,1,5,B,358129.914474,4908.988502,4948.113224,4731.994018,4948.113224,3814.226727
409,15037,11,2.0,46.430852,31.678912,5.0,2,5.0,1960,0.038693,...,1015.0,2,5,B,175973.694767,3790.016456,4299.228585,3999.776438,4110.192880,3888.219638
4097,4389,39,2.0,54.326263,34.394391,9.0,3,12.0,1974,0.428826,...,730.0,0,2,B,240019.792399,4418.117127,4089.011120,3777.684291,4089.011120,3888.219638
6461,15829,104,3.0,75.777599,45.381156,9.0,2,9.0,1985,0.327018,...,2500.0,1,0,B,468039.075500,6176.483334,6337.282285,6447.797167,6337.282285,3814.226727
5601,11439,75,3.0,52.264434,38.101494,10.0,8,9.0,1970,0.307467,...,325.0,2,5,B,216094.268430,4134.633281,4108.858378,4340.040897,4108.858378,3814.226727
5231,12792,103,2.0,52.799556,30.623261,8.0,11,14.0,2002,0.151346,...,830.0,4,1,B,317648.066012,6016.112406,5439.844152,4898.073499,5439.844152,3888.219638
3777,9737,53,2.0,56.803895,32.178167,10.0,10,22.0,2018,0.049637,...,229.0,1,3,B,294673.205869,5187.552860,4831.170644,4746.690666,4831.170644,3888.219638
2726,9347,27,1.0,46.513651,21.032802,14.0,7,6.0,1977,0.075424,...,NaN,0,0,B,124345.245905,2673.306495,2594.817488,2883.928952,2713.354368,3945.718331
477,8849,45,1.0,63.419553,2.286357,1.0,3,1.0,1977,0.195781,...,NaN,3,2,B,325600.765809,5134.075411,5391.595534,5666.928423,5391.595534,3945.718331
1329,4081,55,2.0,54.267397,33.953791,9.0,17,17.0,1987,0.041365,...,NaN,1,4,B,239628.452311,4415.698317,3938.298588,4061.486185,3936.763086,3888.219638
4035,15259,41,2.0,52.249040,34.172055,9.0,3,12.0,2008,0.175055,...,NaN,1,0,B,261238.418527,4999.870207,4383.394334,4137.735704,4293.480295,3888.219638
9642,16202,105,1.0,22.072457,16.540036,2.0,4,9.0,1963,0.069660,...,NaN,1,2,B,126778.794309,5743.755348,4615.188710,5021.713821,4615.188710,3945.718331
1777,15980,1,1.0,42.106365,41.782263,1.0,15,1.0,2019,0.007122,...,NaN,0,1,B,138632.726757,3292.441136,3206.778406,3386.894155,3197.713526,3945.718331
6096,6813,86,1.0,32.249425,17.686452,5.0,2,5.0,1964,0.161976,...,4508.0,3,7,B,163942.146694,5083.568017,4712.326506,4939.839087,4712.326506,3945.718331

In [21]:
valid.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,Price_m,mean_price_s,mean_price_ID,mean_price_h,mean_price_r
6252,3702,21,2.0,48.812195,34.679779,5.0,5,5.0,1963,0.034331,...,NaN,0,4,B,181530.459031,3718.957124,4275.748663,3950.496347,4243.390328,3888.219638
4684,12848,61,3.0,81.103039,49.310278,8.0,4,4.0,1960,0.298205,...,NaN,1,3,B,260456.004692,3211.421028,3551.822642,4004.094401,4398.970515,3814.226727
1731,2239,6,3.0,82.882978,3.977650,1.0,8,17.0,1977,0.243205,...,540.0,0,0,B,219945.304640,2653.684860,2910.447589,2672.213420,2910.447589,3814.226727
4742,15611,23,1.0,33.863324,29.993297,0.0,5,4.0,1977,0.034656,...,NaN,0,0,B,66883.280318,1975.094955,2156.406280,2402.349616,2284.108677,3945.718331
4521,5634,52,1.0,43.095135,NaN,1.0,10,17.0,1977,0.371149,...,750.0,2,5,B,114086.065201,2647.307298,3089.185017,3353.147820,3089.185017,3945.718331

In [22]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 6252 to 4705
Data columns (total 25 columns):
Id               3000 non-null int64
DistrictId       3000 non-null int64
Rooms            3000 non-null float64
Square           3000 non-null float64
LifeSquare       2373 non-null float64
KitchenSquare    3000 non-null float64
Floor            3000 non-null int64
HouseFloor       3000 non-null float64
HouseYear        3000 non-null int64
Ecology_1        3000 non-null float64
Ecology_2        3000 non-null object
Ecology_3        3000 non-null object
Social_1         3000 non-null int64
Social_2         3000 non-null int64
Social_3         3000 non-null int64
Healthcare_1     1560 non-null float64
Helthcare_2      3000 non-null int64
Shops_1          3000 non-null int64
Shops_2          3000 non-null object
Price            3000 non-null float64
Price_m          3000 non-null float64
mean_price_s     3000 non-null float64
mean_price_ID    3000 non-null float64
mean_price_h     3000 non-null float64
mean_price_r     3000 non-null float64
dtypes: float64(13), int64(9), object(3)
memory usage: 609.4+ KB

### Model

In [23]:
from sklearn.ensemble import RandomForestRegressor as RF

In [24]:
train.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price', 'Price_m', 'mean_price_s',
       'mean_price_ID', 'mean_price_h', 'mean_price_r'],
      dtype='object')

In [25]:
feats = ['Rooms','Square','Floor','mean_price_ID','HouseYear','Social_2','HouseFloor','mean_price_s','Social_1','mean_price_h']

In [26]:
model = RF(n_estimators=20, max_depth=12, random_state=42)

In [27]:
model.fit(train.loc[:, feats], train['Price'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [28]:
pred_train = model.predict(train.loc[:, feats])

In [29]:
pred_train

array([105017.27206328, 212674.83133902, 186560.51572348, ...,
       242882.06293293, 193437.25977615, 414753.48061032])

In [30]:
pred_train.shape

(7000,)

In [31]:
pred_valid = model.predict(valid.loc[:, feats])

In [32]:
pred_valid

array([188724.63777222, 282761.6690421 , 216811.64742815, ...,
       289150.5297869 , 114065.2577111 , 245139.0154754 ])

### Evaluate model

In [33]:
pred_valid.shape

(3000,)

In [34]:
from sklearn.metrics import r2_score as r2

In [35]:
r2(train['Price'], pred_train)

0.9276324963203476

In [36]:
r2(valid['Price'], pred_valid)

0.7586116975617858

### Test

In [37]:
test = pd.read_csv('input/test.csv')

In [38]:
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A

In [39]:
test.shape

(5000, 19)

In [40]:
test = prepare_data(test,price_mean_by_distr_rooms, price_mean_by_rooms, price_mean,price_social,price_helth)

In [41]:
test['Price'] = model.predict(test.loc[:, feats])

In [42]:

test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,mean_price_s,mean_price_ID,mean_price_h,mean_price_r,Price
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,1,NaN,0,0,B,3349.511429,2962.604453,2930.013651,3888.219638,169107.529414
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,...,3,NaN,0,2,B,3255.888166,3289.878362,3235.832007,3888.219638,224797.418442
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,...,87,4702.0,5,5,B,7919.443196,3945.718331,7919.443196,3945.718331,208343.087144
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,3,NaN,3,3,B,4257.296365,3841.195532,4257.296365,3888.219638,316223.511919
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,...,1,NaN,0,0,A,2888.130670,2883.928952,2713.354368,3945.718331,139457.967021

In [43]:
test.loc[:, ['Id', 'Price']].to_csv('SSSHILOV_predictions1.csv', index=None)

### r2 test

In [44]:
model1 = RF(n_estimators=20, max_depth=12, random_state=42)

In [45]:
test_train, test_valid = train_test_split(test, test_size=0.3, random_state=42)

In [46]:
model1 = RF(n_estimators=20, max_depth=14, random_state=42)

In [47]:
model1.fit(test_train.loc[:, feats], test_train['Price'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=14,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [48]:
test_pred_train = model1.predict(test_train.loc[:, feats])

In [49]:
test_pred_valid = model1.predict(test_valid.loc[:, feats])

In [50]:
r2(test_train['Price'], test_pred_train)

0.9943636626753781

In [51]:
r2(test_valid['Price'], test_pred_valid)

0.9689297451975267